Repository nathan29849/sidedish, pull requests merged in 2022-04, with the labels that each got.

#2 [공통] Issue, PR 템플릿 추가
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  backend/.keep
  frontend/.keep
Labels: enhancement

#7 [BE] 로컬 데이터베이스 실행을 위한 docker-compose 파일 추가
  backend/.keep
  backend/docker/README.md
  backend/docker/database-local.yml
Labels: enhancement, backend

#10 [BE] 스프링 프로젝트 추가
  backend/.gitignore
  backend/build.gradle
  backend/gradle/wrapper/gradle-wrapper.jar
  backend/gradle/wrapper/gradle-wrapper.properties
  backend/gradlew
  backend/gradlew.bat
  backend/settings.gradle
  backend/src/main/java/com/codesquad/sidedish/SidedishApplication.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/codesquad/sidedish/SidedishApplicationTests.java
Labels: enhancement, backend

#12 [FE] HTML 기본 뼈대 잡기
  sidedish/.gitignore
  sidedish/README.md
  sidedish/package-lock.json
  sidedish/package.json
  sidedish/public/index.html
  sidedish/public/reset.css
  sidedish/public/sidedish.json
  sidedish/public/style.css
  sidedish/src/App.css
  sidedish/src/App.js
  sidedish/src/Header.css
  sidedish/src/Header.js
  sidedish/src/index.css
  sidedish/src/index.js
Labels: frontend

#13 [FE] Header 렌더링 및 이벤트 추가
  frontend/.keep
  frontend/sidedish/.gitignore
  frontend/sidedish/README.md
  frontend/sidedish/package-lock.json
  frontend/sidedish/package.json
  frontend/sidedish/public/index.html
  frontend/sidedish/public/reset.css
  frontend/sidedish/public/sidedish.json
  frontend/sidedish/public/style.css
  frontend/sidedish/src/App.css
  frontend/sidedish/src/App.js
  frontend/sidedish/src/Header.css
  frontend/sidedish/src/Header.js
  frontend/sidedish/src/index.css
  frontend/sidedish/src/index.js
  sidedish/public/style.css
  sidedish/src/Header.js
Labels: frontend

#15 [BE] 데이터베이스 스키마 구성을 위한 SQL 파일 작성
  backend/src/main/resources/application.properties
  backend/src/main/resources/sql/data.sql
  backend/src/main/resources/sql/schema.sql
Labels: enhancement, backend

#16 [FE] bigsidedish rendering
  frontend/sidedish/public/style.css
  frontend/sidedish/src/App.js
  frontend/sidedish/src/BigSidedish.css
  frontend/sidedish/src/BigSidedish.js
Labels: frontend

#18 [BE] 프로젝트에 1차 수요일 PR 리뷰 반영
  backend/src/main/resources/sql/data.sql
  backend/src/main/resources/sql/schema.sql
Labels: backend, fix

#25 feat: [#20] 자동 배포 스크립트 작성 - front, back
  backend/deploy/back_deploy.sh
  backend/deploy/front_deploy.sh
Labels: backend, deploy

#27 [FE] big sidedish 탭에 따라 콘텐츠 변경
  frontend/sidedish/package-lock.json
  frontend/sidedish/package.json
  frontend/sidedish/src/BigSidedish.css
  frontend/sidedish/src/BigSidedish.js
  frontend/sidedish/src/Header.css
  frontend/sidedish/src/Header.js
Labels: frontend

#29 [BE] 자동 배포 스크립트 수정 및 크론탭 설정 정보 추가
  backend/deploy/back_deploy.sh
  backend/deploy/crontab_config.sh
  backend/deploy/front_deploy.sh
Labels: backend, fix, deploy

#33 [BE] PR 리뷰 적용 및 엔티티 연관관계 매핑 수정
  backend/src/main/java/com/codesquad/sidedish/category/CategoryService.java
  backend/src/main/java/com/codesquad/sidedish/dish/DishRepository.java
  backend/src/main/java/com/codesquad/sidedish/dish/DishRowMapper.java
  backend/src/main/java/com/codesquad/sidedish/dish/DishService.java
  backend/src/main/java/com/codesquad/sidedish/dish/domain/Dish.java
  backend/src/main/java/com/codesquad/sidedish/dish/domain/DishCategory.java
  backend/src/main/java/com/codesquad/sidedish/dish/domain/DishDelivery.java
  backend/src/main/java/com/codesquad/sidedish/dish/domain/DishImage.java
  backend/src/main/java/com/codesquad/sidedish/dish/dto/DishResponse.java
  backend/src/main/java/com/codesquad/sidedish/event_badge/EventBadgeRepository.java
  backend/src/main/java/com/codesquad/sidedish/event_badge/domain/DishEventBadge.java
  backend/src/main/java/com/codesquad/sidedish/event_badge/domain/EventBadge.java
  backend/src/main/java/com/codesquad/sidedish/event_badge/dto/EventBadgeResponse.java
  backend/src/main/java/com/codesquad/sidedish/other/DeliveryPolicy.java
  backend/src/main/java/com/codesquad/sidedish/other/DiscountPolicy.java
  backend/src/main/java/com/codesquad/sidedish/other/domain/Delivery.java
  backend/src/main/java/com/codesquad/sidedish/util/MapperUtil.java
  backend/src/main/resources/sql/data.sql
  backend/src/main/resources/sql/schema.sql
  backend/src/test/java/com/codesquad/sidedish/CategoryRepositoryTest.java
  backend/src/test/java/com/codesquad/sidedish/DishRepositoryTest.java
  backend/src/test/java/com/codesquad/sidedish/EventBadgeRepositoryTest.java
Labels: enhancement, backend

#32 [BE] CORS 설정 파일 추가하여 Access 안되는 문제 해결
  backend/src/main/java/com/codesquad/sidedish/config/WebConfig.java
Labels: backend, fix, deploy

#37 [BE] 주문하기 구현
  backend/src/main/java/com/codesquad/sidedish/dish/domain/Dish.java
  backend/src/main/java/com/codesquad/sidedish/dish/domain/DishDelivery.java
  backend/src/main/java/com/codesquad/sidedish/dish/dto/DishResponse.java
  backend/src/main/java/com/codesquad/sidedish/order/OrderController.java
  backend/src/main/java/com/codesquad/sidedish/order/OrderService.java
  backend/src/main/java/com/codesquad/sidedish/order/UserRepository.java
  backend/src/main/java/com/codesquad/sidedish/order/domain/Order.java
  backend/src/main/java/com/codesquad/sidedish/order/domain/OrderDelivery.java
  backend/src/main/java/com/codesquad/sidedish/order/domain/User.java
  backend/src/main/java/com/codesquad/sidedish/order/dto/OrderRequest.java
  backend/src/main/resources/sql/data.sql
  backend/src/main/resources/sql/schema.sql
Labels: enhancement, backend

#39 [BE] dish 객체 조회 및 페이징 구현
  backend/src/main/java/com/codesquad/sidedish/category/CategoryService.java
  backend/src/main/java/com/codesquad/sidedish/category/dto/CategoryResponse.java
  backend/src/main/java/com/codesquad/sidedish/dish/DishController.java
  backend/src/main/java/com/codesquad/sidedish/dish/DishRepository.java
  backend/src/main/java/com/codesquad/sidedish/dish/DishService.java
  backend/src/main/java/com/codesquad/sidedish/dish/domain/Dish.java
  backend/src/main/java/com/codesquad/sidedish/dish/domain/RecommendRef.java
  backend/src/main/java/com/codesquad/sidedish/dish/dto/DishListResponse.java
  backend/src/main/java/com/codesquad/sidedish/dish/dto/DishResponse.java
  backend/src/main/java/com/codesquad/sidedish/dish/dto/DishUnitResponse.java
  backend/src/main/java/com/codesquad/sidedish/dish/dto/ImageResponse.java
  backend/src/main/java/com/codesquad/sidedish/dish/dto/Slice.java
  backend/src/main/java/com/codesquad/sidedish/order/OrderService.java
  backend/src/main/java/com/codesquad/sidedish/other/DeliveryPolicy.java
  backend/src/main/java/com/codesquad/sidedish/other/page/Criteria.java
  backend/src/main/java/com/codesquad/sidedish/other/page/Slice.java
  backend/src/main/resources/application.properties
  backend/src/main/resources/sql/data.sql
  backend/src/test/java/com/codesquad/sidedish/DishRepositoryTest.java
Labels: enhancement, backend

#42 [BE] DTO 검증 및 비즈니스 로직 예외 처리 추가
  backend/build.gradle
  backend/src/main/java/com/codesquad/sidedish/dish/DishService.java
  backend/src/main/java/com/codesquad/sidedish/dish/domain/Dish.java
  backend/src/main/java/com/codesquad/sidedish/exception/BusinessException.java
  backend/src/main/java/com/codesquad/sidedish/exception/ErrorCode.java
  backend/src/main/java/com/codesquad/sidedish/exception/ErrorResponse.java
  backend/src/main/java/com/codesquad/sidedish/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/codesquad/sidedish/exception/GoneException.java
  backend/src/main/java/com/codesquad/sidedish/exception/NotFoundException.java
  backend/src/main/java/com/codesquad/sidedish/order/OrderController.java
  backend/src/main/java/com/codesquad/sidedish/order/OrderService.java
  backend/src/main/java/com/codesquad/sidedish/order/dto/OrderRequest.java
  backend/src/main/java/com/codesquad/sidedish/other/DeliveryPolicy.java
  backend/src/main/java/com/codesquad/sidedish/other/DiscountPolicy.java
Labels: enhancement, backend

#44 [FE] 버튼 클릭 시 모든 카테고리 볼 수 있도록
  frontend/sidedish/src/view/App.jsx
  frontend/sidedish/src/view/sidedish/Button.jsx
  frontend/sidedish/src/view/sidedish/Sidedish.style.js
  frontend/sidedish/src/view/sidedish/SmallSidedish.jsx
  frontend/sidedish/src/view/sidedish/card/Card.jsx
Labels: frontend

#48 [FE] small-sidedish 슬라이드 이벤트
  frontend/sidedish/src/utils.js
  frontend/sidedish/src/view/sidedish/BigSidedish.jsx
  frontend/sidedish/src/view/sidedish/SmallSidedish.jsx
  frontend/sidedish/src/view/sidedish/carousel/Carousel.jsx
  frontend/sidedish/src/view/sidedish/carousel/Carousel.style.js
  package-lock.json
Labels: frontend

#50 [FE] 리뷰 반영 및 슬라이드 애니메이션 개선
  frontend/sidedish/src/utils.js
  frontend/sidedish/src/view/App.jsx
  frontend/sidedish/src/view/GlobalStyle.jsx
  frontend/sidedish/src/view/header/Header.jsx
  frontend/sidedish/src/view/header/Header.style.js
  frontend/sidedish/src/view/sidedish/BigSidedish.jsx
  frontend/sidedish/src/view/sidedish/Button2ShowAllCategory.jsx
  frontend/sidedish/src/view/sidedish/Sidedish.style.js
  frontend/sidedish/src/view/sidedish/SidedishCards.jsx
  frontend/sidedish/src/view/sidedish/SmallSidedish.jsx
  frontend/sidedish/src/view/sidedish/card/Card.jsx
  frontend/sidedish/src/view/sidedish/card/Card.style.js
  frontend/sidedish/src/view/sidedish/carousel/Carousel.jsx
  frontend/sidedish/src/view/sidedish/carousel/Carousel.style.js
Labels: frontend

#57 [BE] 로그인 및 OAuth 구현
  backend/.gitignore
  backend/build.gradle
  backend/src/main/java/com/codesquad/sidedish/auth/AuthService.java
  backend/src/main/java/com/codesquad/sidedish/auth/JwtFactory.java
  backend/src/main/java/com/codesquad/sidedish/auth/LoginFilter.java
  backend/src/main/java/com/codesquad/sidedish/auth/client/AuthClient.java
  backend/src/main/java/com/codesquad/sidedish/auth/client/GithubAuthClient.java
  backend/src/main/java/com/codesquad/sidedish/auth/controller/AbstractAuthController.java
  backend/src/main/java/com/codesquad/sidedish/auth/controller/AuthController.java
  backend/src/main/java/com/codesquad/sidedish/auth/controller/GithubAuthController.java
  backend/src/main/java/com/codesquad/sidedish/auth/domain/GithubToken.java
  backend/src/main/java/com/codesquad/sidedish/auth/domain/GithubUser.java
  backend/src/main/java/com/codesquad/sidedish/auth/domain/OAuthProperties.java
  backend/src/main/java/com/codesquad/sidedish/auth/domain/OAuthProvider.java
  backend/src/main/java/com/codesquad/sidedish/config/OAuthConfig.java
  backend/src/main/java/com/codesquad/sidedish/order/domain/User.java
  backend/src/main/resources/sql/schema.sql
  backend/src/test/java/com/codesquad/sidedish/JwtTest.java
Labels: enhancement, backend

#54 [BE] 요리 다중 조회시 배송정보 포함 및 배송 정보 데이터 추가
  backend/src/main/java/com/codesquad/sidedish/dish/dto/DishListResponse.java
  backend/src/main/resources/oauth.properties
  backend/src/main/resources/sql/data.sql
Labels: backend, fix

#61 [FE] 로그인 페이지 이동, 배송 정보 렌더링
  frontend/sidedish/package-lock.json
  frontend/sidedish/package.json
  frontend/sidedish/src/index.js
  frontend/sidedish/src/view/App.jsx
  frontend/sidedish/src/view/GlobalStyle.jsx
  frontend/sidedish/src/view/Home.jsx
  frontend/sidedish/src/view/Login.jsx
  frontend/sidedish/src/view/header/Header.jsx
  frontend/sidedish/src/view/sidedish/SidedishCards.jsx
  frontend/sidedish/src/view/sidedish/SmallSidedish.jsx
  frontend/sidedish/src/view/sidedish/card/Card.jsx
  frontend/sidedish/src/view/sidedish/card/Card.style.js
Labels: frontend

#62 [BE] 2주차 첫번째 PR 리뷰 적용
  backend/build.gradle
  backend/src/main/java/com/codesquad/sidedish/dish/DishService.java
  backend/src/main/java/com/codesquad/sidedish/dish/domain/Dish.java
  backend/src/main/java/com/codesquad/sidedish/exception/GlobalExceptionHandler.java
  backend/src/main/java/com/codesquad/sidedish/exception/GoneException.java
  backend/src/main/java/com/codesquad/sidedish/exception/unchecked/BusinessException.java
  backend/src/main/java/com/codesquad/sidedish/exception/unchecked/NotFoundException.java
  backend/src/main/java/com/codesquad/sidedish/exception/unchecked/OutOfStockException.java
  backend/src/main/java/com/codesquad/sidedish/order/OrderService.java
  backend/src/main/java/com/codesquad/sidedish/other/DeliveryPolicy.java
  backend/src/main/java/com/codesquad/sidedish/other/DiscountPolicy.java
  backend/src/main/resources/application-local.properties
  backend/src/test/java/com/codesquad/sidedish/CategoryRepositoryTest.java
  backend/src/test/java/com/codesquad/sidedish/DishRepositoryTest.java
Labels: enhancement, backend

#56 [BE] deploy script and README 업데이트
  README.md
  backend/deploy/back_deploy.sh
  backend/deploy/nginx.conf
Labels: documentation, backend

#63 [FE] product detail popup 마무리
  frontend/sidedish/.env
  frontend/sidedish/src/view/sidedish/SidedishCards.jsx
  frontend/sidedish/src/view/sidedish/card/Card.style.js
  frontend/sidedish/src/view/sidedish/popup/Popup.jsx
  frontend/sidedish/src/view/sidedish/popup/Popup.style.js
  frontend/sidedish/src/view/sidedish/recommendCarousel/Carousel.css
  frontend/sidedish/src/view/sidedish/recommendCarousel/recommendCarousel.jsx
Labels: frontend
